.user-page-container {
    .user-card {
        .btn-msg {
            background-color: $green;
        }
        .btn-like {
            border-color: $green;
            color: $green;
        }
    }
    .progress-bar {
        background-color: $green;
    }
}